<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CryptoApp</a>
    <form class="form-inline" method="POST" action="/prices">
        <input class="form-control mr-sm-2" type="search" id="qoute" name="qoute" placeholder="Lookup Crypto" autocomplete="off">
    </form>
</nav>
