<div class="container mt-3">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Nothing Here!</h4>
        <p>Aww snap, it looks like you did not search for anything</p>
        <hr>
        <p class="mb-0">Goto Search Box in Navigation Bar and type crypto coin Sybmol like BTC etc. You can also search for multiple coins separated with comman like BTC, ETH</p>
    </div>
        
</div>